
.btn {
    color: #004fec;
    text-decoration: none;
    background-color: transparent;
    border-radius: 2px;
}

.btn:hover {
    color: #d2d2d2;;
    background-color: #004fec;
}

.freshNewsTitle {
    padding: 0 0 8px 38px;
    font-size: 60px;
    font-weight: 400;
}

.blue {
    color: #004fec;
}


/* News List page */

.newsList {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.moreLessBtn {
    padding: 6px 8px;
    margin: 27px 0 40px;
    border: none;
    font-size: 19px;
}


/* News Card */

.newsCard {
    width: 300px;
    border-left: solid 2px #004fec;
    padding: 0 14px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}



.newsImg {
    width: 300px;
    max-height: 160px;
}


.cardBottom {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.newsDate {
    padding: 9px 0;
}

.newsLink {
    padding: 9px 10px;
}

/* Single News Page */

.wrap {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.newsItemImg {
    width: 50%;
}

.newsItemDate, .newsItemSource {
    font-size: 18px;
}

.dateSource {
    display: flex;
    gap: 18px;
    font-size: 24px;
}

.newsSource {
    padding: 6px 5px;
}
    

.newsTitle {
    font-size: 34px;
    text-align: center;
}




